#
# Deltacloud configuration
#  Deltacloud provides the interface the infrastructure of the cloud
#  starting, stopping, enumerating images and instances etc. 
#
deltacloud-url http://localhost:3000/api
deltacloud-username mockuser
deltacloud-password mockpassword

#
# Deployer configuration
#   Deployers fling a war/ear style app on the target application server
#   Deployers must implement the jboss.cloud.deploy.Deployer interface.
#
#
deploy-username michael
deploy-password foo
#deploy-private-key /path/to/key
deploy-target-dir /etc/jboss/5.1/server/default/deploy

#
# Local data store
#  A place where app configs are stored which is available to cooling tower. Writable directory needed is all.
#
database-root /users/michaelneale/scratch/cooling-tower-db


#
# Config for DNS naming management service.
#
# Zone folder will be where the zone master files are kept - these can be used to drive a local authoritative DNS or
# rsynced to slaves.  
# 
dns-primary 8.8.8.8
dns-secondary 8.4.4.4
dns-zone-folder /etc/opt/zones







